
body{
    color: #40515E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

  
h1{
    font-size: 5.62rem;
    color: #66BFBF;
    margin: 0 auto 0 auto;
     /*margin: 0 auto 0 auto; 
    if there is width then the margin has to be
    set as 0 auto 0 auto or 0 auto and text-align: center;
     when it comes to aligning the text in centre
    width: 10pc;
    */
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #d78266;
    padding-top: 10px;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:  #d78266;
}
p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    
       
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
    
}
a{
    color: #f0c7b9;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 15px;
    text-decoration: none;
    
}
a:hover{
    color: #f6ddd5;
}
.skill-rowdescription{
    width: 60%;

}

.Top-container{
    background-color: #d78266;
    position: relative;
    padding-top: 190px;
}

.middle-container{
    margin: 100px 0;
    padding:150px auto 100px;
    
   
}
.bottom-container{
    background-color: #d78266;
    padding:50px 0 10px;
    
}
.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 200px ;
    top: 40px;
}

.profile{

 text-align: left;
 
}
.profile-intro{
    width: 90%;
    margin: auto;

}
.contact-msg{
    width: 30%;
    margin: 05% auto 05%;

}
.ig{
    float: left;  
    margin-right: 40px;  
    width: 20rem;
    height: 20rem;
    
    
}
.skill-img{
    border-radius: 100%;
    float: right;  
    margin-left: 40px;  
    width: 20rem;
    height: 20rem;
    padding-bottom: 20px;
}
.chilli-img{
    border-radius: 100%;
    float: left;  
    margin-right: 40px;  
    width: 20rem;
    height: 20rem;
    
    

}
.chill-text{
    margin-top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.btn {
    background: #a9c6d9;
    background-image: -webkit-linear-gradient(top, #a9c6d9, #475c69);
    background-image: -moz-linear-gradient(top, #a9c6d9, #475c69);
    background-image: -ms-linear-gradient(top, #a9c6d9, #475c69);
    background-image: -o-linear-gradient(top, #a9c6d9, #475c69);
    background-image: linear-gradient(to bottom, #a9c6d9, #475c69);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 1px 1px 3px #e6b8e6;
    -moz-box-shadow: 1px 1px 3px #e6b8e6;
    box-shadow: 1px 1px 3px #e6b8e6;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 11px 10px 12px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f7d1cf;
    background-image: -webkit-linear-gradient(top, #f7d1cf, #a5c1d4);
    background-image: -moz-linear-gradient(top, #f7d1cf, #a5c1d4);
    background-image: -ms-linear-gradient(top, #f7d1cf, #a5c1d4);
    background-image: -o-linear-gradient(top, #f7d1cf, #a5c1d4);
    background-image: linear-gradient(to bottom, #f7d1cf, #a5c1d4);
    text-decoration: none;
  }
  .copyright{
    color: #f6ddd5;
    font-size: 0.7rem;
  }